
.DS_Store
assets/.DS_Store
assets/minecraft/.DS_Store
assets/minecraft/models/.DS_Store
assets/minecraft/models/item/.DS_Store
assets/transposia/.DS_Store
assets/transposia/models/.DS_Store
assets/transposia/models/item/.DS_Store
assets/transposia/models/item/special/.DS_Store
assets/transposia/textures/.DS_Store
assets/transposia/textures/special/.DS_Store
